.page-main__titles {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

.page-main__paragraphs {
  line-height: 24px;
  color: #444444;
  text-align: left;
}

.page-main__form-title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #000000;
  display: block;
  padding: 75px 43px 74px 42px;
}

.nav-catalog {
  background-color: #eaeaea;
}

.page-main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: 772px) {
    width: 772px;
  }

  @media (min-width: 1150px) {
    width: 1150px;
  }
}

