.nav {
  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% 50%;
}

.nav__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #010000;
  display: block;
  margin-left: 39px;
  margin-right: 39px;
}

.nav__link {
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  background-color: #63d1bb;
  display: block;
  padding: 30px 185px 30px 29px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

